
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<h1 class="h3">Şehir Paneli</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ülke</th>
        <th>Şehir</th>
        <th>Nüfus</th>
    </tr>
    <tr>
        <td>@ViewBag.Input2</td>
        <td>@ViewBag.Input4</td>
        <td>@ViewBag.Input1</td>
        <td>@ViewBag.Input3</td>
    </tr>
</table>

<a asp-controller="Default" asp-action="Urunler" class="btn btn-dark">Ürünler</a>