
@{
    Layout = null;
}

<h1>Şehir Paneli</h1>

<table>
    <tr>
        <th>#</th>
        <th>Ülke</th>
        <th>Şehir</th>
        <th>Nüfus</th>
    </tr>
    <tr>
        <td>@ViewBag.Input2</td>
        <td>@ViewBag.Input4</td>
        <td>@ViewBag.Input1</td>
        <td>@ViewBag.Input3</td>
    </tr>
</table>